<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WldhEfl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>WldhFeiin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WldhKC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WldhMini.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WldhSky.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WldhThreeG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WldhUU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZdywDD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53FD1380194568CA0075DADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E8E11935725400002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9021935725400002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E91D193572F000002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E939193572F000002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9521935738C00002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E96E1935738C00002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E986193573AB00002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9A2193573AB00002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9BA193573C400002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9D6193573C400002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0E9EE193573E900002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0EA0A193573E900002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0EA221935742000002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC0EA3E1935742100002018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
