<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<array>
		<string>101</string>
		<string>拨号助手</string>
	</array>
	<key>0000</key>
	<array>
		<string>200</string>
		<string>联系人</string>
	</array>
	<key>200</key>
	<array>
		<string>200</string>
		<string>联系人</string>
	</array>
	<key>0001</key>
	<array>
		<string>100</string>
		<string>拨号盘</string>
	</array>
	<key>0002</key>
	<array>
		<string>101</string>
		<string>拨号助手</string>
	</array>
	<key>100</key>
	<array>
		<string>100</string>
		<string>拨号盘</string>
	</array>
	<key>300</key>
	<array>
		<string>300</string>
		<string>玩乐</string>
	</array>
	<key>2000</key>
	<array>
		<string>400</string>
		<string>充值</string>
	</array>
	<key>400</key>
	<array>
		<string>400</string>
		<string>充值</string>
	</array>
	<key>2001</key>
	<array>
		<string>402</string>
		<string>卖手机详情</string>
	</array>
	<key>402</key>
	<array>
		<string>402</string>
		<string>卖手机详情</string>
	</array>
	<key>3000</key>
	<array>
		<string>500</string>
		<string>更多</string>
	</array>
	<key>500</key>
	<array>
		<string>500</string>
		<string>更多</string>
	</array>
	<key>3001</key>
	<array>
		<string>515</string>
		<string>最新优惠</string>
	</array>
	<key>515</key>
	<array>
		<string>515</string>
		<string>最新优惠</string>
	</array>
	<key>3002</key>
	<array>
		<string>517</string>
		<string>邀请好友</string>
	</array>
	<key>517</key>
	<array>
		<string>517</string>
		<string>邀请好友</string>
	</array>
	<key>3003</key>
	<array>
		<string>518</string>
		<string>分享有礼</string>
	</array>
	<key>518</key>
	<array>
		<string>518</string>
		<string>分享有礼</string>
	</array>
	<key>3004</key>
	<array>
		<string>519</string>
		<string>下载应用</string>
	</array>
	<key>519</key>
	<array>
		<string>519</string>
		<string>下载应用</string>
	</array>
	<key>3005</key>
	<array>
		<string>516</string>
		<string>VIP会员</string>
	</array>
	<key>516</key>
	<array>
		<string>516</string>
		<string>VIP会员</string>
	</array>
	<key>3006</key>
	<array>
		<string>521</string>
		<string>签到</string>
	</array>
	<key>521</key>
	<array>
		<string>521</string>
		<string>签到</string>
	</array>
	<key>3007</key>
	<array>
		<string>531</string>
		<string>游戏</string>
	</array>
	<key>531</key>
	<array>
		<string>531</string>
		<string>游戏</string>
	</array>
	<key>3008</key>
	<array>
		<string>503</string>
		<string>通讯录备份</string>
	</array>
	<key>503</key>
	<array>
		<string>503</string>
		<string>通讯录备份</string>
	</array>
	<key>3009</key>
	<array>
		<string>525</string>
		<string>个人中心</string>
	</array>
	<key>525</key>
	<array>
		<string>525</string>
		<string>个人中心</string>
	</array>
	<key>3010</key>
	<array>
		<string>501</string>
		<string>消息中心</string>
	</array>
	<key>501</key>
	<array>
		<string>501</string>
		<string>消息中心</string>
	</array>
	<key>3011</key>
	<array>
		<string>527</string>
		<string>设置</string>
	</array>
	<key>527</key>
	<array>
		<string>527</string>
		<string>设置</string>
	</array>
	<key>3012</key>
	<array>
		<string>601</string>
		<string>注册</string>
	</array>
	<key>601</key>
	<array>
		<string>601</string>
		<string>注册</string>
	</array>
	<key>3013</key>
	<array>
		<string>602</string>
		<string>登录</string>
	</array>
	<key>602</key>
	<array>
		<string>602</string>
		<string>登录</string>
	</array>
	<key>3014</key>
	<array>
		<string>507</string>
		<string>绑定手机</string>
	</array>
	<key>507</key>
	<array>
		<string>507</string>
		<string>绑定手机</string>
	</array>
	<key>3015</key>
	<array>
		<string>512</string>
		<string>资费说明</string>
	</array>
	<key>512</key>
	<array>
		<string>512</string>
		<string>资费说明</string>
	</array>
	<key>3016</key>
	<array>
		<string>504</string>
		<string>查询余额</string>
	</array>
	<key>504</key>
	<array>
		<string>504</string>
		<string>查询余额</string>
	</array>
	<key>3017</key>
	<array>
		<string>528</string>
		<string>官方网站</string>
	</array>
	<key>528</key>
	<array>
		<string>528</string>
		<string>官方网站</string>
	</array>
	<key>3018</key>
	<array>
		<string>529</string>
		<string>联系客服</string>
	</array>
	<key>529</key>
	<array>
		<string>529</string>
		<string>联系客服</string>
	</array>
	<key>3019</key>
	<array>
		<string>513</string>
		<string>帮助中心</string>
	</array>
	<key>513</key>
	<array>
		<string>513</string>
		<string>帮助中心</string>
	</array>
	<key>3020</key>
	<array>
		<string>532</string>
		<string>在线升级</string>
	</array>
	<key>532</key>
	<array>
		<string>532</string>
		<string>在线升级</string>
	</array>
	<key>3021</key>
	<array>
		<string>510</string>
		<string>找回密码</string>
	</array>
	<key>510</key>
	<array>
		<string>510</string>
		<string>找回密码</string>
	</array>
	<key>3022</key>
	<array>
		<string>509</string>
		<string>修改密码</string>
	</array>
	<key>509</key>
	<array>
		<string>509</string>
		<string>修改密码</string>
	</array>
	<key>3023</key>
	<array>
		<string>401</string>
		<string>充值说明</string>
	</array>
	<key>401</key>
	<array>
		<string>401</string>
		<string>充值说明</string>
	</array>
	<key>3024</key>
	<array>
		<string>505</string>
		<string>查询话单</string>
	</array>
	<key>505</key>
	<array>
		<string>505</string>
		<string>查询话单</string>
	</array>
	<key>3025</key>
	<array>
		<string>511</string>
		<string>去电显示</string>
	</array>
	<key>511</key>
	<array>
		<string>511</string>
		<string>去电显示</string>
	</array>
	<key>3026</key>
	<array>
		<string>520</string>
		<string>QQ特权</string>
	</array>
	<key>520</key>
	<array>
		<string>520</string>
		<string>QQ特权</string>
	</array>
	<key>3027</key>
	<array>
		<string>524</string>
		<string>收支明细</string>
	</array>
	<key>524</key>
	<array>
		<string>524</string>
		<string>收支明细</string>
	</array>
	<key>3028</key>
	<array>
		<string>514</string>
		<string>打分评价</string>
	</array>
	<key>514</key>
	<array>
		<string>514</string>
		<string>打分评价</string>
	</array>
	<key>3029</key>
	<array>
		<string>506</string>
		<string>拨打设置</string>
	</array>
	<key>506</key>
	<array>
		<string>506</string>
		<string>拨打设置</string>
	</array>
	<key>3030</key>
	<array>
		<string>508</string>
		<string>切换账号</string>
	</array>
	<key>508</key>
	<array>
		<string>508</string>
		<string>切换账号</string>
	</array>
	<key>3032</key>
	<array>
		<string>533</string>
		<string>拨号按键音</string>
	</array>
	<key>533</key>
	<array>
		<string>533</string>
		<string>拨号按键音</string>
	</array>
	<key>3033</key>
	<array>
		<string>530</string>
		<string>关于</string>
	</array>
	<key>530</key>
	<array>
		<string>530</string>
		<string>关于</string>
	</array>
	<key>502</key>
	<array>
		<string>502</string>
		<string>送话费</string>
	</array>
	<key>522</key>
	<array>
		<string>522</string>
		<string>有奖绑定</string>
	</array>
	<key>523</key>
	<array>
		<string>523</string>
		<string>点入积分墙</string>
	</array>
	<key>534</key>
	<array>
		<string>534</string>
		<string>快速赚话费</string>
	</array>
	<key>535</key>
	<array>
		<string>535</string>
		<string>插屏广告</string>
	</array>
	<key>536</key>
	<array>
		<string>536</string>
		<string>小常识</string>
	</array>
	<key>537</key>
	<array>
		<string>537</string>
		<string>意见反馈</string>
	</array>
	<key>310</key>
	<array>
		<string>310</string>
		<string>新手任务</string>
	</array>
	<key>309</key>
	<array>
		<string>309</string>
		<string>爱心任务</string>
	</array>
	<key>4000</key>
	<array>
		<string>300</string>
		<string>玩乐</string>
	</array>
</dict>
</plist>
